* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	padding-top: 1rem;
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	padding-bottom: 1rem;
	border-bottom: 2px solid black;
}

#form-container {
	position: relative;
	width: 100%;
	margin: 1rem auto;

	display: flex;
	align-items: flex-end;
	flex-direction: column;
	row-gap: 0.25rem;
}

form {
	width: 100%;
	display: grid;
	grid-template-columns: min-content 1fr;

	column-gap: 0.5rem;
	row-gap: 0.25rem;
	font-size: inherit;
}

textarea,
input[type=submit] {
	grid-column: 1 / 3;
}

input {
	font-size: inherit;
	flex-shrink: 1;
	width: 100%;
}

.oodle {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.oodle a {
	text-decoration: none;
	color: #3a8;
}

.oodle h2 {
	flex-grow: 1;
}

.oodle h3,
h3 {
	color: #444;
	font-size: 0.75rem;
	height: min-content;
}

textarea {
	resize: vertical;
	font-family: inherit;
	padding: 0.5rem;
}

.oodles {
	display: grid;
	margin: 1rem 0;
	grid-template-columns: 1fr 1fr;
}

.oodle {
	padding: 1rem;
}

@media (max-width: 50rem) {

	body {
		padding: 1.5rem 1rem;
	}

	/* Modile target */
	main,
	nav,
	header,
	footer {
		width: 100%;

		margin: 0 auto;
	}

	header {
		width: calc(100vw - 2rem);
	}

	.oodles {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 50rem) {
	body {
		padding: 3rem 0;
	}

	/* Desktop target */
	main,
	nav,
	header,
	footer {
		display: block;

		width: 46rem;

		margin: 0 auto;
	}

	.oodles {
		grid-template-columns: 1fr 1fr;
	}

	#form-container {
		width: 75%;
	}
}